version: '3.7'

services:
    nodejs:
        image: studio-ghibli-database-api-dev
        build:
            context: .
            target: development
            dockerfile: Dockerfile
        restart: unless-stopped
        environment:
            - AWS_ACCESS_KEY_ID='DUMMYIDEXAMPLE'
            - AWS_SECRET_ACCESS_KEY='DUMMYEXAMPLEKEY'
            - REGION='eu-west-1'
        ports:
            - '8080:8080'
        volumes:
            - .:/usr/src/app
        depends_on:
            - dynamodb
        links:
            - dynamodb
        command: yarn dev

    dynamodb:
        image: amazon/dynamodb-local
        hostname: dynamodb-local
        container_name: dynamodb-local
        ports:
          - '8000:8000'
        volumes:
          - dbdata:/data/db

volumes:
    dbdata:
